<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/commonhead %>
</head>

<body>
  <div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <% include partials/headermobile %>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <% include partials/sidebar %>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
      <!-- HEADER DESKTOP-->
      <% include partials/headerdesktop %>
      <!-- HEADER DESKTOP-->

      <!-- MAIN CONTENT-->
      <div class="main-content">
        <div class="section__content section__content--p30">
          <div class="container-fluid">
            <div class="row mb-4">
              <div class="col-md-12">
                <div class="overview-wrap">
                  <h2 class="title-1">Signed Waivers</h2>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-6">
                <form action="/admin/signedwaiverslist" method="get">
                  <div class="input-group">
                      <input type="text" id="searchtext" name="searchtext" placeholder="Search for Waivers" class="form-control" value="<%= query.searchtext === '' ? '' : query.searchtext %>">
                      <div class="input-group-btn">
                          <button class="btn btn-primary btn-search">
                            <i class="fas fa-search"></i>
                            Search
                          </button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="table-responsive table--no-card m-b-30">
                  <table class="table table-borderless table-striped table-earning">
                    <thead>
                      <tr>
                        <th>Waiver</th>
                        <th>User Name</th>
                        <th>Age</th>
                        <th>Signed</th>
                        <th>Sign Date</th>
                        <th>Emergency Phone</th>
                        <th>Guardian Name</th>
                        <th>Download</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (waivers.length > 0) { %>
                      <% for (var i = 0; i < waivers.length; i++) { %>
                          <tr>
                            <td><%= waivers[i].waiverid.name %></td>
                            <td><%= waivers[i].userid.firstname %> <%= waivers[i].userid.lastname %></td>
                            <td><%= waivers[i].age %></td>
                            <td><%= waivers[i].signed %></td>
                            <td><%= waivers[i].signdate %></td>
                            <td><%= waivers[i].emergencyphone %></td>
                            <td><%= waivers[i].guardianname %></td>
                            <td><a href="/admin/downloadwaiver/<%= waivers[i]._id %>"><i class="fas fa-download"></i></a></td>
                            <td><a href="/admin/deletewaiver/<%= waivers[i]._id %>" class="text-danger btn-delete-waiver"><i class="fas fa-trash"></i></a></td>
                          </tr>
                      <% } %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <% include partials/footer %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END MAIN CONTENT-->
      <!-- END PAGE CONTAINER-->
    </div>

  </div>
  <% include partials/commonscripts %>
  <script>
    $(document).ready(function () {
      $('.btn-delete-waiver').on('click', function (e) {
        e.preventDefault();
        var deleteURL = $(this).attr("href");
        swal.fire({
          title: "Are you sure?",
          text: "This will delete the waiver, you will not be able to recover it!",
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
        }).then(function (result) {
          if (result.value) {
            window.location.href = deleteURL;
          }
        })
      });
    });
  </script>
</body>

</html>