<!DOCTYPE html>
<html>

<head>
  <% include partials/commonhead %>
  <link href="/stylesheets/vendors/jquery.signature.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/waiver.css">
</head>

<body>
  <% include partials/header %>
  <% include partials/messages %>

  <section id="choosewaiversection">
    <form action="/submitwaiver" method="POST">
      <div class="container">
        <div class="row">
          <div class="col text-center mb-4">
            <h2 class="h2-responsive underlined-heading h2 mt-3">Waiver 1</h2>
          </div>
        </div>
        <div class="waiver-container">
          <%- waivercontent1 %>
          <p>
            <span>Sign Participant Name:</span>
            <span class="username"><%= user.firstname + ' ' + user.lastname %></span>
          </p>
          <div id="sig"></div>
          <p class="mt-3">
            <span>Print Participant Name: </span>
            <span class="username mt-3"><%= user.firstname + ' ' + user.lastname %></span>
            <span>Age</span>
            <input type="number" class="waiver-input" name="age" id="age">
            <span>Date</span>
            <span class="username date"></span>
          </p>
          <%- waivercontent2 %>
          <p>
            <span>Sign Parent/Guardian Name:</span>
            <input type="text" class="waiver-input" name="guardianname" id="guardianname1">
          </p>
          <div id="sig1"></div>
          <p class="mt-3">
            <span>Print Parent/Guardian Name:</span>
            <input type="text" class="waiver-input" id="guardianname2" readonly>
          </p>
          <p>
            <span>Date</span>
            <span class="username date"></span>
            <span>Emergency Phone</span>
            <input type="text" class="waiver-input" name="phonenumber" id="phonenumber">
          </p>
        </div>
        <hr class="my-4">
        <div class="row mb-4">
          <div class="col text-center">
            <input type="text" name="userid" id="userid" value="<%= user._id %>" class="d-none">
            <input type="text" name="waiverid" id="userid" value="<%= waiver._id %>" class="d-none">
            <input type="text" name="signature1" id="signature1" class="d-none">
            <input type="text" name="signature2" id="signature2" class="d-none">
            <input type="text" name="date" id="date" class="d-none">
            <input type="checkbox" name="signparticipant" id="signparticipant" class="d-none">
            <input type="checkbox" name="signguardian" id="signguardian" class="d-none">
            <button class="btn btn-primary mr-2 btn-rounded btn-save">Save</button>
            <button class="btn btn-secondary btn-rounded btn-cancel">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </section>

  <% include partials/footer %>
  <% include partials/commonscripts %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="/javascripts/vendors/jquery.signature.js"></script>
  <script src="/javascripts/vendors/moment.min.js"></script>
  <script>
    $(function () {
      var sig = $('#sig').signature();
      var sig1 = $('#sig1').signature();
    });

    $(document).ready(function () {
      var date = moment().format('MM/DD/YYYY');
      $('.username.date').text(date);

      $('.btn-save').click(function (e) {
        var canvas1 = document.querySelector("div#sig canvas");
        var dataURL1 = canvas1.toDataURL("image/png");
        var canvas2 = document.querySelector("div#sig1 canvas");
        var dataURL2 = canvas2.toDataURL("image/png");
        $('input#signature1').val(dataURL1)
        $('input#signature2').val(dataURL2)
        var datetosubmit = moment().format('MM-DD-YYYY');
        $('input#date').val(datetosubmit);
        return true;
      });

      $('input#guardianname1').focusout(function (e) {
        $('input#guardianname2').val($(this).val())
      })

      $('div#sig canvas').click(function (e) { 
        $('input#signparticipant').prop('checked', 'true');
      });

      $('div#sig1 canvas').click(function (e) { 
        $('input#signguardian').prop('checked', 'true');
      });
    });
  </script>
</body>

</html>